body{
    text-align: center;
}
.divs{
    border: solid 2px;
    border-radius: 8px;
    width: 300px;
}.divss{
    border: solid 2px;
    border-radius: 8px;
    width: 300px;
}
.divsss{
    border: solid 2px;
    border-radius: 8px;
    width: 300px;
}